.counter {
  display: flex;
  align-items: center;
}

.add {
  width: 1.25rem;
  height: 1.25rem;
  font-size: 1.25rem;
  line-height: 1.25rem;
  border-radius: 50%;
  cursor: pointer;
  margin-left: 0.5rem;
  background-color: orange;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
}
.reduce {
  width: 1.25rem;
  height: 1.25rem;
  font-size: 1.25rem;
  line-height: 1.25rem;
  border-radius: 50%;
  cursor: pointer;
  margin-right: 0.5rem;
  background-color: orange;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
}
